<div class="content">
	<%= form_for :person do |f| %>
	  <div class="sheet">
			<div class="header">
				<h1>《自體淬煉，逆流無畏》</h1>
				<div class="section">
					<div class="description">
						<p>一場健身與溯溪的跨界冒險</p>
						<p>
							 鍛煉時間：4/9~4/30 的每週六
							 <br/>
							 鍛鍊地點：105 台北市松山區南京東路五段291巷34弄14號1樓
							 <br>
							 4/9   第一堂：神一般的隊友 10:30~11:30 
							 <br>
							 4/16 第二堂：地形征服力1h  14:00開始上課   
							 <br>
							 4/23 第三堂：手腳並用的手1.5h  14:00開始上課  
							 <br>
							 4/30 第四堂：石縫跳躍鍛鍊1.5h  14:00開始上課
							 <br>
						</p>

						<p>
							5/14 瑪鋉溪挑戰 預估9:00~16:00 
							<br>
							5/28 半屏溪挑戰 預估9:00~16:00
						</p>
					</div>
				</div>
			</div>
	  	<div class="column">
	  		<div class="name">
	  			<%= f.label "您的姓名: " %>
	  		</div>
	  		<div class="text">
	  			<%= f.text_field :name %>
	  		</div>
		  </div>
		  <div class="column">
		  	<div class="name">
			  	<%= f.label "您的信箱: " %>
	  		</div>
	  		<div class="text">
			  	<%= f.text_field :email %>
	  		</div>
		  </div>
		  <div class="column">
		  	<input id="test1" type="radio" value="1">
		  	<label for="test1">test</label>
		  </div>
		  <div class="column">
		  	<%= f.submit "FUCK Enroll ME", class: "btn btn-primary" %>
		  </div>
	  </div>
	<% end %>
</div>